<html>
  <body>
    <h1 style="font-size: 24px; color: #2c405a; line-height: 32px; margin: 0;">
      Almost there
    </h1>
    <p
      style="font-size: 16px; color: #3f536e; line-height: 24px; padding-top: 16px; padding-bottom: 16px;"
    >
      Click the button below to log in to your Tripetto account.<br />
      This link will expire in 15 minutes and can only be used once.
    </p>
    <p>
      <% if (locals.link) { %>
      <a
        href="<%=link%>"
        style="font-size: 16px; color: #0093ee; text-transform: underline;"
        >Enter Tripetto</a
      >
      🚀<% } %>
    </p>
    <p
      style="font-size: 15px; color: #8dabc4; line-height: 24px; padding-top: 16px; padding-bottom: 32px;"
    >
      If you did not make this request, you can safely ignore this email.<br />
      If the link is invalid when you click on it, there might be software on your computer that scans your inbox and checks or follows hyperlinks. Due to security reasons the Tripetto login link can only be used once!
    </p>
    <%- include('partials/footer'); %>
  </body>
</html>
