<html>
  <body>
    <p
      style="font-size: 16px; color: #3f536e; line-height: 24px; padding-top: 16px; padding-bottom: 16px;"
    >
      <%-message %>
    </p>
    <% fields.forEach((field) => { %>
      <p>
        <b><%-field.name%></b><br>
        <%-field.value%>
      </p>
    <% }); %>
    <%- include('partials/footer'); %>
  </body>
</html>
