<html>
  <body>
    <h1 style="font-size: 24px; color: #2c405a; line-height: 32px; margin: 0;">
      New submission
    </h1>
    <p>
      A new submission was received for form <a href="<%= locals.definitionUrl%>"><%= locals.definitionName%></a>.
    </p>
    <% fields.forEach((field) => { %>
      <p>
        <b><%-field.name%></b><br>
        <%-field.value%>
      </p>
    <% }); %>
    <%- include('partials/footer'); %>
  </body>
</html>
