<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>This login link is invalid - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>🧙‍♀ The magic was lost.</h1>
        <h2>This login link is invalid.</h2>
        <p>
          You need another magic link. Please go back to Tripetto to request a valid link by starting the login in again with your e-mail address.
        </p>
        <a href="/" class="button">Go back to Tripetto</a>
      </div>
    </div>
  </body>
</html>
